body {
    font-family:'Exo', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin:0px
  }
  .tableClass{
    color: black;
    background-color:#ad423b;
    font-family:'Exo', sans-serif;
  }
  
  .contentClass{
    color:black;
    font-family:'Exo', sans-serif;
  }
  
  .hoverClass{
    font-weight: 700;
  }
  
  p{
    padding-left: 10vh;
    padding-right: 10vh;
  }
  
  #welcomeNavbar{
    background-color: white;
    padding-top:20px ;
    padding-bottom: 35px;
    margin-bottom: 20px;
  }
  
  #scheduleDiv{
    display:none;
  }
  
  #contactDiv{
    display:none;
  }
  #rulesDiv{
    display:none;
  }
  
  header.navhead{
    float:left;
    font-size: 40px;
    font-weight: 900;
    margin-left: 25px;
    color:#2c2a3b;
  }
  button.navButton{
      border:0px;
      font-family: 'Exo', sans-serif;
      min-height: 25px;
      color:#2c2a3b;
      background-color: white;
      font-size: 18px;
      cursor: pointer;
  }
  
  button.navButton:hover{
    font-weight: 700;
  }
  
  div.dark{
    min-height: 45vh;
    color: White;
    background-color: #282737;
    }
  
  div.shortDark{
      min-height: 20vh;
      color: White;
      background-color: #282737;
      }
  
  p{
    padding-bottom: 10px;
  }
  body{
    padding-top: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  body + .content {
    padding-top: 60px;
  }
  
  #navbar{
        background-color: #ffffff;
        padding-top: 25px;
        padding-bottom: 35px;
  }
  
  button.navButton{
    margin-left: 30px;
    background-color: white;
    float: right;
    margin-right: 50px;
    color:#2c2a3b;
  }
  
  h1,h2{
    padding-top: 30px;
  } 
  
  div.light{
    min-height: 45vh;
    color:#282737;
    background-color:White;
    }
  
  #slider{
    width:100%;
    height: 75vh;
    background-color:black;
    color:white;
    padding-top:50px;
  }
  
  #sliderButton{
    background-color: white;
    top:55%;
    position:fixed;
    font-size: 30px;
  }
  
  button.next{
    border-radius: 10px 0px 0px 10px;
    height:10vh;
  }
  
  button.prev{
    border-radius: 0px 10px 10px 0px;
    height:10vh;
  }
  
  
  input{
        font-size: 15px;
        font-family: 'Exo',sans-serif;
        cursor: pointer;
      }
  textarea{
        cursor:pointer;
        font-size: 15px;
        font-family: 'Exo',sans-serif;
      }
  fieldset{
        border: 0px;
      }
  
  
  
  
  p.long{
        vertical-align: bottom;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
      }
  
  div.intro{
    min-height: 300px;
    color:#282737;
    background-color:White;
  }
  
  
  
  
  table{
        width:900px;
        margin: 20px auto 20px auto;
      }
  th{
        border-bottom: 2px;
        background-color:#ad423b;
        text-align: center;
      }
  td{
        background-color: white;
        color:#282737;
      }
  input.button:focus, input.button:hover{
        background-color: white;
        color:#ad423b;
      }
  input.button_light:focus, input.button_light:hover{
        background-color: #282737;
        color:#ffffff;
      }
  a{
        color:black;
      }
  button {
      border:0px;
      font-family: 'Exo', sans-serif;
      color: white;
      background-color: #ad423b;
      font-size: 18px;
      min-width: 100px;
      min-height: 50px;
      cursor: pointer;
      }
  input.button,input.button_light {
      border:0px;
      font-family: 'Exo', sans-serif;
      color: White;
      font-size: 18px;
      font-weight: bold;
      background-color: #ad423b;
      min-width: 120px;
      min-height: 50px;
      margin-bottom: 20px;
          }
  
  
  